<div class="day-container">
    <span class="date-box">
        {{dayOfWeek}} {{dayName}}
    </span>
</div>
<div class="parent">
    <div class="appointment-list" *ngIf="appointments | async">
        <div class="appointment-card row" *ngFor="let appointment of appointments | async">
            <div ngbAccordion [closeOthers]="true" class="card-area">
                <div ngbAccordionItem>
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton class="upper-card">
                            <div class="card-container">
                                <div class="icon icon-container" >
                                    <fa-icon [icon]="faCircle"></fa-icon>
                                </div>
                                <div class="info-container">
                                    <div class="name-container">
                                        <div class="info">
                                            {{appointment.title}}
                                        </div>
                                    </div>
                                    <div class="appointment-container">
                                        <div class="age-container">
                                            {{appointment.id}}
                                        </div>
                                        <div class="hour-container">
                                            {{appointment.userId}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>Content for the {{appointment.id}} item</ng-template>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>
  